body{
    margin: auto;
    align-items: center;
}

#frame {
    border: none;
    width: 60rem;
    height: 35rem;
}

.about_icon{
  margin-left: 50rem;
  margin-bottom: 2rem;
  font-size: 1.5rem;
}

.about_icon2{
margin-left: 2.5rem;
margin-bottom: 2rem;
font-size: 1.5rem;
}

