/* .stcoursedetails {
    display: flex;
    flex-direction: row;

    width: 100pc;

} */

.about_container {
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 15%;
    margin-top: 100px;
    /* width: 100%; */

    width: 100%;
    height: 100%;
    object-fit: cover;
}
section{
    background-color: aqua;
    /* width: 100%; */
}

.about_me {
    width: 100%;

    aspect-ratio: 1/1; 
    border-radius: 2rem;
    background: linear-gradient(
        45deg,
        transparent,
        var(--color-primary),
        transparent
        );
    display: grid;
    place-items: center;

}

.about_me-image{
    /* border-radius: 2rem; */
    overflow: hidden;
    object-fit: cover; 
    /* height: 100px; */
    /* transform: rotate(10deg); */
    /* transition: var(--transition);*/
} 

.about_me-image:hover{
    transform: rotate(0);
}

.about_cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
}

.about_card{
    background: var(--color-primary);
    border: 1px solid transparent;
    border-radius: 1rem;
    padding: 1rem;
    text-align: center;
    transition: var(--transition);
}

.about_card:hover{
    background: transparent;
    border-color: var(--color-primary-variant);
    cursor: default;
}

.about-icon {
    color: var(--color-primary);
    font-size: 1.4rem;
    margin-bottom: 1rem;
}

.about_card h5{
    font-size: 0.95rem;
}

about_card small{
    font-size: 0.7rem;
    color: var(--color-light);
}

.about_content p{
    margin: 1rem 0 0.6rem;
    font-size: 1.0rem;
    text-align: justify;
    text-align-last: justify;

    /* color: var(--color-light); */
}

@media screen and (max-width: 600px){
    .about_me{
        width: 65%;
        margin: 0 auto 3rem;
    }
}

@media screen and (max-width: 1024px){
    .about_container{
        grid-template-columns: 1fr;
        gap:0;
    }
}