.App {
  /* text-align: center; */
  height: 700px;
  background-color: #F5F5F5;
  margin: 0;

  display: flex;
  /* justify-content: center;  */
  /* align-items: center; */
  

}



.dashboardsummaryelements{
  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */
  
}

.summarycontainer{
width: 334px;
height: 551px;
background: #FFFFFF;
box-shadow: 0px 1px 3px rgba(3, 0, 71, 0.09);
border-radius: 8px;
margin: 5px;
/* padding: 6px; */
}

.summaryheader{
  display: flex;
  justify-content: space-between;
   width: 334px;
   height: 60px;
  background: #FFFFFF;
  border-radius: 7px 7px 0px 0px;
  padding: 6px;
}

.summarycontent{
  width: 334px;
  height: 491px;
}

.dashsummarycard{
  width: 286px;
  height: 77px;
  left: 298px;
  top: 472px;
  background: #FFFFFF;
  border-radius: 0px;
}

.sidebar button{
  background-color: #000080;
  color: white;
  padding: 15px;
  margin: 15px;
  margin-left: 15px;
  outline: none;
  border: none;
  border-radius: 5px;
  font-weight: 500;
  cursor: pointer;
  box-shadow: 0 2px 2px rgba(0,0,0,0.2);
  font-size: 16px;
}
.sidebar button:hover{
  transform: scale(1.1);
}
.sidebar h1{
  margin-top: 15px;
}
.sidebar .btns{
  margin-left: 25rem;
}

.single__course__item {
  padding: 15px;
}

.course__img img {
  border-radius: 10px;
  margin-bottom: 20px;
}

.course__img img:hover{
  transform: scale(1.1);
}

.enroll a {
  text-decoration: none;
  font-weight: 600;
  font-size: 0.9rem;
  color: #000080;
}

.enroll a:hover {
  transform: scale(1.1);
}

.lesson,
.students,
.rating {
  font-size: 0.9rem;
  color: #0a2b1e;
  font-weight: 500;
}

.lesson i,
.students i,
.rating i {
  font-weight: 400;
}

.course__title {
  line-height: 2rem;
}

.course__top__left h2 {
  font-weight: 600;
}

